* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    position: relative;
}

.nav {
    width:100%;
    padding:10px;
    background:#ccc;
    margin:auto;
}

.footer {
    position:absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
    background-color: #5f5f5f;
    color: #ffffff;
    font-size: 13px;
}

.panel {
    display:block;
    width:100%;
    max-width:600px;
    border-radius: 10px;
    text-align:center;
    padding:10px;
    margin:10px auto;
}

h1 {
    color: teal;
}

p {
    padding:10px;
}


.a { 
    display:block;
    margin-top: 10px;
    padding: 10px 20px;
    background: teal;
    color: white;
    border-radius: 5px;
    text-decoration :none;
}

.b {
    text-decoration: none;
    color: black;
}

.a:hover {
    background: darkcyan;
}

table {
    width:100%;
    border-collapse:collapse;
    margin:30px 0;
}

th, td {
    border:1px solid #ccc;
    padding:15px;
    border-left: none;
    border-right: none;
}


tr td {
    text-align:left;
}

thead {
    background-color: #333;
    color:white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #d1ecf1;
}