body {
    font-family: sans-serif;
    background: #93b1c2;
    margin: 0;
}

.body2 {
    background: #8d9fbb;
}

.body3 {
    background: #968d71;
}

.body4 {
    background: #866060;
}

p {
    text-align: center;
    font-size: 15px;
}

.formulario {
    background: white;
    padding: 20px 20px;
    max-width: 400px;
    margin: auto;
    padding-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background: rgb(3, 151, 151);
    padding: 12px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: rgb(1, 133, 133);
    transition: 350ms;
}

.btn-l,.btn-e {
    background: rgb(4, 155, 49);
}

.btn-l:hover {
    background: rgb(3, 129, 41);
    transition: 350ms;
}
.btn-e:hover {
    background: rgb(3, 129, 41);
    transition: 350ms;   
}
.btn-j {
    background: rgb(34, 34, 34);
}
.btn-j:hover {
    background: rgb(17, 17, 17);
    transition: 350ms;
}

.btn2 {
    background: rgb(34, 33, 33);
}
.btn2:hover {
    background: rgb(49, 49, 49);
    transition: 350ms;
}
.btn-s {
    background: rgb(1, 110, 182);
}
.btn-s:hover {
    background: rgb(1, 94, 156);
    transition: 350ms;
}

.mensaje {
    padding: 25px;
    color: red;
    text-align: center;
}