<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <title>Panel de Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesDash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesLoad.css') }}">
</head>
<body>
    <!-- Loader -->
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <!-- Fin loader -->
    <div class="nav">
        <nav></nav>
    </div>
    <div class="panel">
        <h1>¡Hola {{ session['nombre'] }}!</h1>
        <p>Bienvenido, si quieres editar unos de tus contactos haz Clic en el nombre para editarlo</p>

        <a class="a" href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
        <a class="a" href="{{ url_for('contactos.agendar') }}">Agregar contactos</a>

        <table>
            <thead>
                <th>Contactos</th>
                <th>Telefono</th>
            </thead>
            <tbody>
                {% for contacto in resultado %}
                    <tr>
                        <td>
                            <a class="b" href="{{ url_for('contactos.editar',id=contacto.id_contacto) }}"> 
                                {{ contacto.nombre }} 
                            </a>
                        </td>
                        <td> {{ contacto.telefono }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
    <br>
    <br>
    <br>
    <div class="footer">
        <footer>En desarrollo...</footer>
    </div>

    <!-- script para el loader -->
    <script src="{{ url_for('static', filename='load.js') }}"></script>
</body>
</html>