<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <meta charset="utf-8">
        <title>Editar contacto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="body4">
        <div>
            <form action="/guardarCambios" method="post">
                <h2>Editar Contactos</h2>
                <input type="text" name="nombre" placeholder="Nombre del Contacto">
                <input type="number" name="telefono" placeholder="Numero de telefono">
                <input type="email" name="correo" placeholder="Direccion de correo">
                <input type="text" name="observacion" placeholder="Ingrese alguna observacion"><br><br>
                <button type="submit" class="btn-e">Guardar Cambios</button>                
            </form>
            <p></p>
            <a href="/dashboard"><button class="btn-j">Ir al Dashboard</button></a>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="mensaje">
                        {% for msg in messages %}
                            <p style="margin:0px;">{{ msg }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}        
        </div>
    </body>
</html>